* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #eceff1;
    box-sizing: border-box;
}
body {
    background-color: #000a12;
}
input {
    border-radius: 12.5px;
    border: 1px solid black;
    padding: 20px;
    background-color: #263238;
    position: relative;
    border: none;
    font-size: 16px;
    left: 0;
    width: 100%;
    max-width: 1024px;
}
#results-num {
    position: relative;
    padding: 10px;
    padding-left: 20px;
    font-size: 12px;
}
input:focus {
    outline: 1px solid #b0bec5;
}
input::placeholder {
    color: #b0bec5;
    opacity: 1;
}
li {
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #102027;
    padding: 20px;
    border-radius: 12.5px;
    cursor: pointer;
}
mark {
    background-color: #263238;
}
section {
    width: 100%;
    padding: 20px;
    overflow-x: hidden;
}
section[role="grid"] {
    padding-top: 10px;
}
section[role="grid"] ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
section[role="grid"] div {
    display: flex;
    flex-direction: column-reverse;
}
section[role="grid"] div h2 {
    margin-bottom: 5px;
}
section[role="grid"] ul:empty ~ h2 {
    display: none;
}

@media only screen and (max-width: 1284px) {
}